.timer {
    position: fixed;
    cursor: pointer;
    right: 0;
    top: 100px;
    padding: 10px;
    background: -moz-linear-gradient(40deg, $color-main 20%, $color-main--hover 100%);
    background: -webkit-linear-gradient(40deg, $color-main 20%, $color-main--hover 100%);
    background: linear-gradient(40deg, $color-main 20%, $color-main--hover 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-primary,endColorstr=$color-main,GradientType=1);
    color: $color-white;
    border-radius: 10px 0px 0px 10px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: space-around;

    }
}